/ips.txt
/test.txt
/.idea/vcs.xml
/small test list.txt
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/MinecraftServerScanner.iml
/.idea/.gitignore
